.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
section{
    margin: 5vw;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 9px 0px;
    overflow: hidden;
    background-color: grey;
}
.inlineblock{
    display: inline-block;
    padding: 8px;
    background-color: green;
    vertical-align: top;
}

nav ul{
    width: 50%;
    margin-left: auto;
    list-style-type: none;
}
li{
    float: left;
    display: block;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
}

.heroImg{
    height: 600px;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.content .hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.content{
    width: 500px;
    margin: 0 auto;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 20px;
    grid-template-areas:
      "left right"
      "left right"
      "left right";
  }
  
  .left { grid-area: left; }
  
  .right { grid-area: right; }
.relative{
    width: 500px;
    height: 250px;
}
.bounceMe {
    animation: bounceArrow .7s infinite;
}
.cardContainer{
    margin-top: 20px;
}
.card{
    margin: 0 auto;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: #373738;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 75px;

    
}
footer ul{
    width: 50%;
    margin-left: auto;
    list-style-type: none;
}
@keyframes bounceArrow {
    from {margin-top: 0px;
  
    }
    50% {margin-top: 7px;
  
    }
    to {margin-top: 0px;
  
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "arrow"
    ;
  }
  .gridChild {
    margin: 15px;
    padding: 15px;
    height: 100px;
  }
  .arrow {
    grid-area: arrow;
    text-align: center;
  }